.container {
  background-color: white;
}
.title {
  padding: 10px;
}
.list-container {
  margin: 20px 20px 20px 20px;
  width: 97%;
  height: 100vh;
}
.footer{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));  
}