<nb-card *ngIf="this.loadDone" size="tiny">
    <nb-card-body style="display: flex; flex-direction: column;">
        <!-- <div class="image" style="width: 50px; padding-top: 5px;"> -->
        <img width="50%" height="50%" [src]="this.skillDetail.image"
            style="align-self: center; align-items: center; justify-items: center;">
        <div style="display: flex; flex-direction: row; align-self: center; ">

            <!-- </div> -->
            <span style="margin-left: 1px;">
                <strong>{{this.skillDetail.name}}</strong>
            </span>
        </div>

        <div>

            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                    <strong class="exp">Lv&nbsp;{{this.level}}</strong>
                    <p>EXP: {{this.item.exp}}</p>
                </div>

                <nb-progress-bar [value]="this.progressBar" [status]="this.status" size="tiny">
                </nb-progress-bar>
            </div>

        </div>
    </nb-card-body>

</nb-card>