<nb-card *ngIf="this.loadDone" [nbTooltip]='this.skillDetail.description'>
    <nb-card-body class="grid">
        <img width="70px" style="margin:auto auto auto auto" [src]="this.skillDetail.image">
        <div>
            <div class="text-box">
                <div class="content">
                    <h6 class="contentName">
                        <strong>{{this.skillDetail.name}}</strong>
                    </h6>
                    <p></p>
                    <p class="exp">EXP: {{this.item.exp}}</p>


                </div>
                <div class="level" style="text-align: center;padding: 30px 0 0 0; font-size: larger;"><strong>Lv
                        {{this.level}}</strong>
                </div>
            </div>
            <nb-progress-bar style="width:100%;padding:0 10px 10px 0" [value]="this.progressBar" [status]="this.status"
                size="tiny">
            </nb-progress-bar>
        </div>


    </nb-card-body>
</nb-card>