<nb-card
  style="
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    border-radius: 15px;
  "
>
  <!-- <nb-card-header style="display: flex; justify-content: space-between">
    <h5>Skills</h5>
    <button nbButton (click)="toggle()">Feedback</button>
  </nb-card-header> -->

  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Skill">
        <div *ngIf="skills.length == 0" style="font-size: 1rem; width: 100%">
          <span
            ><i>Bạn chưa có kỹ năng nào. Hãy chăm chỉ rèn luyện nhé!</i></span
          >
        </div>
        <nb-layout-column *ngIf="skills == undefined">
          <app-spinner></app-spinner>
        </nb-layout-column>
        <div class="list-skill" *ngFor="let skill of skills">
          <app-detail-skill [item]="skill"></app-detail-skill>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Feedback">
        <nb-list>
          <nb-list-item *ngFor="let feedback of feedbacks">
            <div
              style="
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
              (click)="openDialog()"
            >
              <div style="width: 30%">
                <span>{{ feedback }}</span>
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-self: center;
                "
              >
                <span style="color: rgb(19, 184, 82)"> Đã duyệt </span>
                <span style="color: rgb(233, 219, 22)"> Đang duyệt </span>
                <span style="color: rgb(216, 18, 34)"> Bị từ chối </span>
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-self: center;
                "
              ></div>
            </div>
            <span><nb-icon icon="trash"></nb-icon></span>
          </nb-list-item>
        </nb-list>
        <p
          fullWidth
          style="height: fit-content; display: flex; justify-content: center"
        >
          <nb-icon
            style="position: absolute; bottom: 0; font-size: 3rem"
            (click)="openWindow()"
            icon="plus-square-outline"
          ></nb-icon>
        </p>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
