<nb-layout-header subheader>

    <h2 style="margin-top: 1%;font-size: 1rem; color: grey;">ATC Zone</h2>

    <div style="width: 80%;">
        <button style="margin-left: 1rem;" *ngFor="let task of taskList" mat-icon-button (click)="click(task)"
            nbTooltip="{{task.name}}" routerLink="{{task.router}}" [ngClass]="{'gray':!selectedTasks[task.id]}">
            <nb-icon style="width: 1.5rem;height: 1.5rem;" icon="{{task.icon}}"></nb-icon>
        </button>
    </div>


    <!-- <nb-actions>
        <nb-action nbButton icon="people-outline" nbTooltip="Quản lý thành viên" routerLink='members'>
            Thành viên
        </nb-action>
        <nb-action icon="briefcase-outline" nbTooltip="Quản lý vai trò" routerLink='roles'>
            Vai trò
        </nb-action>
        <nb-action icon="activity-outline" nbTooltip="Quản lý kỹ năng" routerLink='skills'>
            Kỹ năng
        </nb-action>
        <nb-action icon="award-outline" nbTooltip="Quản lý thành tựu" routerLink='achievements'>
            Thành tựu
        </nb-action>
        <nb-action icon="message-circle-outline" nbTooltip="Phản hồi"   routerLink='feedback'>
            Phản hồi
        </nb-action>
    </nb-actions> -->
</nb-layout-header>
<router-outlet></router-outlet>  