<nb-layout-header subheader>
    <h2 style="font-size: 1rem; color: grey;">ATC Zone</h2>
    <nb-actions>
        <nb-action icon="people-outline" routerLink='members'>
            Thành viên
        </nb-action>
        <nb-action icon="briefcase-outline" routerLink='roles'>
            Vai trò
        </nb-action>
        <nb-action icon="activity-outline" routerLink='skills'>
            Kỹ năng
        </nb-action>
        <nb-action icon="award-outline" routerLink='achievements'>
            Thành tựu
        </nb-action>
        <nb-action icon="message-circle-outline" routerLink='feedback'>
            Phản hồi
        </nb-action>
    </nb-actions>
</nb-layout-header>
<router-outlet></router-outlet>  