<h1>Quản lý các Thành viên</h1>
<nb-card status='primary' style="max-height:50vh;">
    <nb-card-header>
        Danh sách các thành viên trong hệ thống
    </nb-card-header>
    <nb-card-body>
        <nb-list style="width: 100%;">
            <nb-list-item *ngFor="let profile of profiles" style="width: 100%;">
                <div style="width: 100%;display: flex; flex-direction: row; justify-content: space-between;">
                    <div style="width: 30%;">
                        <nb-user [picture]='profile.photoUrl' [name]='profile.name' [title]='getRoleString(profile)'>
                        </nb-user>

                    </div>
                    <div style="display: flex; flex-direction: column; align-self: center;">
                        <span>Ngày tham gia</span>
                        <span>{{getDate(profile.profileMetadata?.created??0)}}</span>
                    </div>
                    <div style="display: flex; flex-direction: column; align-self: center;">
                        <span>Đóng góp lần cuối</span>
                        <span>{{getDate(profile.contribMetadata?.updated??0)}}</span>
                    </div>
                    <div>
                        <!-- <a [href]="'/profile?id='+profile.uid" target="_blank">Xem</a> -->
                        <a href="./profile?id={{profile.uid}}" target="_blank" nbTooltip='Xem'
                            style="font-weight: bold; text-decoration: none;">
                            <nb-icon icon="navigation-2-outline"></nb-icon>
                        </a>
                    </div>
                </div>

            </nb-list-item>

            <!-- <nb-list-item *ngFor="let profile of profiles">
                <div class="parent">
                    <div class="box">
                        <nb-user [picture]='profile.photoUrl' [name]='profile.name' [title]='getRoleString(profile)'>
                        </nb-user>

                    </div>
                    <div class="box">
                        <p>Ngày tham gia: {{getDate(profile.profileMetadata?.created??0)}}</p>

                    </div>
                    <div class="box">
                        <p>Đóng góp lần cuối: {{getDate(profile.contribMetadata?.updated??0)}}</p>

                    </div>
                    <div class="box">
                        <a [href]="'/profile?id='+profile.uid" target="_blank">Xem</a>

                    </div>
                </div>

            </nb-list-item> -->
        </nb-list>
    </nb-card-body>
</nb-card>

<nb-card status='primary'>
    <nb-card-header>
        Cấp vai trò
    </nb-card-header>
    <nb-card-body>
        <p>Chọn vai trò</p>
        <nb-select [(ngModel)]="selectedRole" fullWidth>
            <nb-option *ngFor="let role of roles" [value]='role'>{{role.name}}</nb-option>
        </nb-select>
        <p>Được cấp cho</p>
        <nb-select [(ngModel)]="selectedProfile" fullWidth>
            <nb-option *ngFor="let profile of profiles" [value]='profile'>{{profile.uid}}: {{profile.name}}</nb-option>
        </nb-select>
        <p></p>
        <nb-card *ngIf="selectedRole && selectedProfile">
            <nb-card-body>
                <p>Thành viên <b>{{selectedProfile?.name}}</b> nhận vai trò <b>{{selectedRole?.name}}</b></p>

                <button style="float:right;" nbButton status='primary' (click)="assignRole()">Duyệt</button>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>

<nb-card status='primary'>
    <nb-card-header>
        Thu hồi vai trò
    </nb-card-header>
    <nb-card-body>

        <p>Thành viên</p>
        <nb-select [(ngModel)]="selectedProfileForReclaim" fullWidth>
            <nb-option *ngFor="let profile of profiles" [value]='profile'>{{profile.uid}}: {{profile.name}}</nb-option>
        </nb-select>
        <p>bị thu hồi vai trò</p>
        <nb-select *ngIf="selectedProfileForReclaim" [(ngModel)]="selectedRoleForReclaim" fullWidth>
            <nb-option *ngFor="let role of selectedProfileForReclaim?.roles" [value]='role'>{{role}}</nb-option>
        </nb-select>
        <p></p>
        <nb-card *ngIf="selectedRoleForReclaim && selectedProfileForReclaim">
            <nb-card-body>
                <p>Thành viên <b>{{selectedProfileForReclaim?.name}}</b> bị thu hồi vai trò
                    <b>{{selectedRoleForReclaim}}</b>
                </p>

                <button style="float:right;" nbButton status='primary' (click)="reclaimRole()">Duyệt</button>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>

<nb-card status='primary'>
    <nb-card-header>Thêm thành viên vào ATC Zone</nb-card-header>
    <nb-card-body>
        <nb-select [(ngModel)]="selectedProfileForATCZone" fullWidth>
            <nb-option *ngFor="let profile of profiles" [value]='profile'>
                {{profile.uid}}: {{profile.name}}
            </nb-option>
        </nb-select>
    </nb-card-body>
    <nb-card-footer *ngIf="selectedProfileForATCZone">
        <button nbButton status='primary' (click)="addToATC()">Thêm</button>
    </nb-card-footer>
</nb-card>

<nb-card status='primary'>
    <nb-card-header>Xoá thành viên ATC Zone</nb-card-header>
    <nb-card-body>
        <nb-list style="width:100%">
            <nb-list-item *ngFor="let profile of atcMembers">
                <nb-user [picture]='profile.photoUrl' [name]='profile.name' [title]='getRoleATCString(profile)'>
                </nb-user>
                <div style="flex:1 auto;"></div>
                <button (click)="removeFromATC(profile.uid)" nbButton status='danger'>Trục xuất</button>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>