<h1>Quản lý các Thành viên</h1>
<div style="width: 100%; display: grid; grid-gap: 1rem;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); ">

    <!-- ATC -->
    <nb-card style="border-radius: 10px; " status="primary">
        <nb-card-body *ngIf="loadDoneATC" style="display: flex; align-items: center; justify-content: center;">
            <button nbButton size="giant" shape="round" outline>
                <nb-icon icon="people" status="primary"></nb-icon>
            </button>
            <div style="margin: 3vh 2vw">
                <h5 class="title">{{ this.atcMembers.length }}</h5>
                <span class="title">ATC Members</span>
            </div>
        </nb-card-body>
        <nb-card-body style="margin-top: 15px;" *ngIf="!loadDoneATC">
            <app-spinner></app-spinner>
        </nb-card-body>
    </nb-card>

    <!-- Users -->
    <nb-card style="border-radius: 10px; " status="info">
        <nb-card-header *ngIf="loadDoneProfiles">
            <nb-select [(selected)]="selectedTypeUser" outline (selectedChange)="changeTypeUser()"
                placeholder='Chọn vai trò'>
                <nb-option *ngFor='let r of roles' [value]='r.id'>{{r.name}}</nb-option>
            </nb-select>
        </nb-card-header>
        <nb-card-body *ngIf="loadDoneProfiles" style="display: flex; align-items: center; justify-content: center; ">
            <button nbButton size="giant" shape="round" outline>
                <nb-icon icon="people" status="info"></nb-icon>
            </button>
            <div style="margin: 3vh 2vw">
                <h5 class="title">{{countRolesOfUser}}</h5>
                <span class="title">Người dùng</span>
            </div>
        </nb-card-body>
        <nb-card-body style="margin-top: 15px;" *ngIf="!loadDoneProfiles">
            <app-spinner></app-spinner>
        </nb-card-body>
    </nb-card>

    <!-- Add to ATC Zone -->
    <nb-card style="border-radius: 10px; " status="success">
        <nb-card-header *ngIf="loadDoneATC">
            <nb-select [(selected)]="selectedProfileForATCZone" outline placeholder='Chọn thành viên'>
                <nb-option *ngFor='let profile of profiles' [value]='profile'>{{profile.name}}</nb-option>
            </nb-select>
        </nb-card-header>
        <nb-card-body *ngIf="loadDoneATC" style="display: flex; align-items: center; justify-content: center">
            <button *ngIf='selectedProfileForATCZone' nbButton size="giant" shape="round" outline (click)='addToATC()'
                nbTooltip='Thêm'>
                <nb-icon icon="person-add-outline" status="success" [options]="{ animation: { type: 'pulse' } }">
                </nb-icon>
            </button>
            <div style="margin: 3vh 2vw">
                <span class="title">Thêm thành viên vào ATC Zone </span>
            </div>
        </nb-card-body>
        <nb-card-body style="margin-top: 15px;" *ngIf="!loadDoneATC">
            <app-spinner></app-spinner>
        </nb-card-body>
    </nb-card>

    <!-- Remove ATC Members -->
    <nb-card style="border-radius: 10px; " status="danger">
        <nb-card-header *ngIf="loadDoneATC">
            <nb-select [(selected)]="selectedProfileRemoveFromATC" outline placeholder='Chọn thành viên'>
                <nb-option *ngFor='let profile of atcMembers' [value]='profile'>{{profile.name}}</nb-option>
            </nb-select>
        </nb-card-header>
        <nb-card-body *ngIf="loadDoneATC" style="display: flex; align-items: center; justify-content: center">
            <button *ngIf='selectedProfileRemoveFromATC' nbButton size="giant" shape="round" outline
                (click)='removeFromATC(selectedProfileRemoveFromATC._id)'>
                <nb-icon icon="person-remove-outline" status="danger" [options]="{ animation: { type: 'shake' } }">
                </nb-icon>
            </button>
            <div style="margin: 3vh 2vw">
                <span class="title">Trục xuất</span>
            </div>
        </nb-card-body>
        <nb-card-body style="margin-top: 15px;" *ngIf="!loadDoneATC">
            <app-spinner></app-spinner>
        </nb-card-body>
    </nb-card>
</div>
<nb-card status='primary' style="max-height:50vh;">
    <nb-card-header>
        Danh sách các thành viên trong hệ thống
    </nb-card-header>
    <nb-card-body *ngIf="loadDoneProfiles">
        <nb-list style="width: 100%;">
            <nb-list-item *ngFor="let profile of profiles" style="width: 100%;">
                <div style="width: 100%;display: flex; flex-direction: row; justify-content: space-between;">
                    <div style="width: 30%;">
                        <nb-user [picture]='profile.photoUrl' [name]='profile.name' [title]='getRoleString(profile)'>
                        </nb-user>

                    </div>
                    <div style="display: flex; flex-direction: column; align-self: center;">
                        <span>Ngày tham gia</span>
                        <span>{{getDate(profile.profileMetadata?.created??0)}}</span>
                    </div>
                    <div style="display: flex; flex-direction: column; align-self: center;">
                        <span>Đóng góp lần cuối</span>
                        <span>{{getDate(profile.contribMetadata?.updated??0)}}</span>
                    </div>
                    <!-- <div>
                        <button nbButton shape='semi-round' status='primary' outline size='small'>Kiểm soát</button>
                    </div> -->
                    <div>
                        <!-- <a [href]="'/profile?id='+profile.uid" target="_blank">Xem</a> -->
                        <a href="./profile?id={{profile._id}}" target="_blank" nbTooltip='Xem'
                            style="font-weight: bold; text-decoration: none;">
                            <nb-icon icon="navigation-2-outline"></nb-icon>
                        </a>
                    </div>
                </div>

            </nb-list-item>
        </nb-list>
    </nb-card-body>
    <nb-card-body *ngIf="!loadDoneProfiles">
        <app-spinner></app-spinner>
    </nb-card-body>
</nb-card>

<nb-card status='primary'>
    <nb-card-header>
        Cấp vai trò
    </nb-card-header>
    <nb-card-body *ngIf="loadDoneRoles && loadDoneProfiles">
        <p>Chọn vai trò</p>
        <nb-select [(ngModel)]="selectedRole" fullWidth>
            <nb-option *ngFor="let role of roles" [value]='role'>{{role.name}}</nb-option>
        </nb-select>
        <p>Được cấp cho</p>
        <nb-select [(ngModel)]="selectedProfile" fullWidth>
            <nb-option *ngFor="let profile of profiles" [value]='profile' (click)="checkLogicMultipleProfiles(profile)">
                <!-- {{profile.uid}}: {{profile.name}} -->
                <nb-user [picture]='profile.photoUrl' [name]='profile.name'>
                </nb-user>
            </nb-option>
        </nb-select>
        <div *ngIf="selectedMultipleProfile.length>0">

            <nb-card style="margin-top: 2%;" [size]="'tiny'" >
                <nb-card-header>Thành viên được chọn sẽ có vai trò {{selectedRole?.name}}</nb-card-header>
                <nb-card-body>
                    <nb-list>
                        <nb-list-item style="justify-content: space-between;" *ngFor="let mulfipleProfile of selectedMultipleProfile;let i = index">
                            <nb-user [name]="mulfipleProfile.name" [picture]="mulfipleProfile.photoUrl">
                            </nb-user>
                            <button nbButton status="danger" (click)="selectedMultipleProfile.splice(i,1)">X</button>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>
            </nb-card>
        </div>
        <p></p>
        <!-- <nb-card >
            <nb-card-body>
                <p>Thành viên <b>{{selectedProfile?.name}}</b> nhận vai trò <b>{{selectedRole?.name}}</b></p>

            </nb-card-body>
        </nb-card> -->
        <div *ngIf="selectedRole && selectedProfile && selectedMultipleProfile.length>0">
            <button style="float:right;" nbButton status='primary' (click)="assignRole()">Duyệt</button>
        </div>
        
    </nb-card-body>
    <nb-card-body *ngIf="!loadDoneRoles && !loadDoneProfiles">
        <app-spinner></app-spinner>
    </nb-card-body>
</nb-card>

<nb-card status='primary'>
    <nb-card-header>
        Thu hồi vai trò
    </nb-card-header>
    <nb-card-body *ngIf="loadDoneProfiles">

        <p>Thành viên</p>
        <nb-select [(ngModel)]="selectedProfileForReclaim" fullWidth>
            <nb-option *ngFor="let profile of profiles" [value]='profile'>
                <!-- {{profile.uid}}: {{profile.name}} -->
                <nb-user [picture]='profile.photoUrl' [name]='profile.name'>
                </nb-user>
            </nb-option>
        </nb-select>
        <p>bị thu hồi vai trò</p>
        <nb-select *ngIf="selectedProfileForReclaim" [(ngModel)]="selectedRoleForReclaim" fullWidth>
            <nb-option *ngFor="let role of selectedProfileForReclaim?.roles" [value]='role'>{{role}}</nb-option>
        </nb-select>
        <p></p>
        <nb-card *ngIf="selectedRoleForReclaim && selectedProfileForReclaim">
            <nb-card-body>
                <p>Thành viên <b>{{selectedProfileForReclaim?.name}}</b> bị thu hồi vai trò
                    <b>{{selectedRoleForReclaim}}</b>
                </p>

                <button style="float:right;" nbButton status='primary' (click)="reclaimRole()">Duyệt</button>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
    <nb-card-body *ngIf="!loadDoneProfiles">
        <app-spinner></app-spinner>
    </nb-card-body>
</nb-card>

<!-- <nb-card status='primary'>
    <nb-card-header>Thêm thành viên vào ATC Zone</nb-card-header>
    <nb-card-body>
        <nb-select [(ngModel)]="selectedProfileForATCZone" fullWidth>
            <nb-option *ngFor="let profile of profiles" [value]='profile'>
                {{profile.uid}}: {{profile.name}}
            </nb-option>
        </nb-select>
    </nb-card-body>
    <nb-card-footer *ngIf="selectedProfileForATCZone">
        <button nbButton status='primary' (click)="addToATC()">Thêm</button>
    </nb-card-footer>
</nb-card>

<nb-card status='danger'>
    <nb-card-header>Xoá thành viên ATC Zone</nb-card-header>
    <nb-card-body>
        <nb-list style="width:100%">
            <nb-list-item *ngFor="let profile of atcMembers">
                <nb-user [picture]='profile.photoUrl' [name]='profile.name' [title]='getRoleATCString(profile)'>
                </nb-user>
                <div style="flex:1 auto;"></div>
                <button (click)="removeFromATC(profile.uid)" nbButton status='danger'>Trục xuất</button>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card> -->