
  .member .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .member .box {
    flex: 1 1 500px; /*  Stretching: */
    flex: 0 1 200px; /*  No stretching: */
    margin: 5px;
  }

  .icon-header-tag {
    background-color: pink;
  }
  .title {
    margin: 0;
    font-size: 1.3rem;
  }
  
  .width-card {
    width: 23%;
  }