.container {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
}

.body {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: auto 0.4fr;
}
@media only screen and (max-width: 600px) {
  .body {
    gap: 10px 0px;
    grid-template-columns: auto;
  }
}
