.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.layout-header {
  grid-column: 1 / 4;
}


.layout-main {
  grid-column: 1 / 4;
}


.layout-footer {
  grid-column: 1 / 4;
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}
.heading {
  min-height: 10vh;
}

.main-parent {
  width: 100%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 25vw) ;
}

.main-card {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.contribution {
  height: 30vh;
}

.full-size {
  width: 100%;
  height: 100%;
}
