<div class="container">
    <!-- <div class="Header">
        <app-header style="position: absolute; top: 20%; width: 100%;"></app-header>
    </div> -->
    <div class="Header">
        <app-header [uid]='uid'></app-header>
    </div>
    <div class="body">
        <div class="Left">
            <app-roles [uid]='uid'></app-roles>
            <app-body [uid]='uid'></app-body>
        </div>
        <div class="Right">
            <app-skills [uid]='uid'></app-skills>
        </div>
    </div>
    <div class="Contribution" [class.mat-elevation-z8]="true">
        <app-contribution [uid]='uid'></app-contribution>
    </div>
</div>