<div class="parent">
    <div class="layout-header">
        <div class="main-card">
            <div class="card heading">

            </div>
        </div>
    </div>
    <div class="layout-main">
        <div class="main-parent">
            <div class="main-card">
                <div class="card full-size">

                </div>
            </div>
            <div class="main-card">
                <div class="card full-size">

                </div>
            </div>
        </div>
    </div>
    <div class="layout-footer">
        <div class="main-card">
            <div class="card contribution">

            </div>
        </div>
    </div>
</div>