<div class="container" *ngIf="loadDone" style="margin-bottom:10px;">
    <div style="display: flex; flex-direction: column; align-items: center; ">
        <p style="margin: 0;"><strong>Level: {{level}}</strong></p>
        <p style="margin: 0;">EXP: {{skill.exp}}</p>
    </div>
    <div>
        <p style="margin:0">EXP: {{this.remainingExp}}</p>
        <nb-progress-bar style="width:95%" [value]="this.progressBar" [status]="this.status" size="tiny">
        </nb-progress-bar>
    </div>


</div>