<nb-layout>

  <nb-layout-header fixed>
    <img src='./assets/images/runway-512-logo.png' style="width: 3rem;">
    <h1 style="font-size: 1.2rem">Runway Crew</h1>
    <div style="flex:1 auto;"></div>
    <button nbButton style="margin-right:5px;" ghost>
      <nb-icon icon="globe-outline"></nb-icon>
    </button>
    <button nbButton (click)="signInWithGG()">
      <img src="https://image.flaticon.com/icons/png/512/281/281764.png" style="width: 16px;margin-right: 5px;">
      Login
    </button>
    <button nbButton style="margin:5px;" ghost>
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-sidebar responsive containerFixed>
    <nb-menu tag="menu" [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>