<div class="container">
  <div class='side-menu' [ngStyle]="{animationName:showSidemenu?'showSidebarAnim':'hideSidebarAnim'}">
    <div class='menu'>
      <button *ngFor="let menu of menus; let i = index;" nbButton ghost [routerLink]='menu.link'
        (click)="selectedMenu=i" [status]='selectedMenu==i?"primary":"basic"'>
        <span class="material-icons-outlined">
          {{menu.icon}}
        </span>
        <span class='heading2'>{{menu.name}}</span>
      </button>
    </div>
  </div>
  <div class="main-container"
    [ngStyle]="{animationName:showSidemenu?'showSidebarAnimForMain':'hideSidebarAnimForMain'}">
    <div class='main-zone' [ngStyle]="{animationName:showSidemenu?'showSidebarAnimForMain':'hideSidebarAnimForMain'}">
      <div class='navbar'>
        <button nbButton ghost (click)='showSidemenu=!showSidemenu'>
          <span class="material-icons-outlined">
            menu
          </span>
        </button>
        <h1 class='heading1'>Runway Crew</h1>
        <div style="flex:1 auto;"></div>
        <div *ngIf="!isMobile()">
          <button *ngFor="let menu of menus; let i = index;" nbButton ghost [routerLink]='menu.link'
            (click)="selectedMenu = i" [status]='selectedMenu==i?"primary":"basic"' size='tiny'>
            <span class="material-icons-outlined">
              {{menu.icon}}
            </span>
          </button>
        </div>
        <button nbButton ghost (click)="logout()" size='tiny'>
          <span class="material-icons-outlined">
            logout
          </span>
        </button>
        <div style="width: 5px;"></div>
      </div>
      <div style="height: 90vh; overflow: auto;">
        <nb-layout>
          <nb-layout-column>
            <router-outlet></router-outlet>
          </nb-layout-column>
        </nb-layout>
      </div>
    </div>
  </div>
</div>