.header-container{
    // background-color: '#426EF0'; 
    // color: white; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    // padding: 15px;
    height: 100%
}
.header-right{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

/* Wave spinner */
.wave-spinner {
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    width: 100px;
    height: 50px;
  }
  
  .wave-spinner > div {
    background-color: #8f9bb3;
    height: 100%;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
    // margin-left: 0.1px;
  
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  
  .wave-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .wave-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .wave-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .wave-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway:500);
  
  $primary-color: #2ecc71;
  
  body {
      background: #2a2a2a;
      font-family: Raleway;
  }
  
  h1 {
      text-align: center;
      font-size: 34px;
      padding-top: 40px;
      color: #FFF;
  }
  
  p {
      color: #999;
      text-align: center;
      font-size: 15px;
  
      a {
          color: $primary-color;
          text-decoration: none;
          padding: 1px 2px 0px 2px;
          border-bottom: 2px solid rgba(0, 0, 0, .0);
          transition: all .1s ease;
  
          &:hover {
              padding: 1px 2px 1px 2px;
              border-bottom: 2px solid #555;
          }
      }
  }
  
  #player {
      width: 350px;
      height: 50px;
      position: relative;
      margin: 0 auto;
      top: 80px;
  
      i {
          position: absolute;
          margin-top: -6px;
          color: #666;
      }
  
      i.fa-volume-down {
          margin-left: -8px;
      }
  
      i.fa-volume-up {
          margin-right: -8px;
          right: 0;
      }
  }
  
  #volume {
      position: absolute;
      left: 24px;
      margin: 0 auto;
      height: 5px;
      width: 300px;
      background: #555;
      border-radius: 15px;
  
      .ui-slider-range-min {
          height: 5px;
          width: 300px;
          position: absolute;
          background: $primary-color;
          border: none;
          border-radius: 10px;
        outline: none;
      }
  
      .ui-slider-handle {
          width: 20px;
        height: 20px;
          border-radius: 20px;
        background: #FFF;
        position: absolute;
        margin-left: -8px;
        margin-top: -8px;
        cursor: pointer;
        outline: none;
      }
  }
  /*End wave spinner*/