<nb-card class="card" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);margin-bottom: 0px;border-radius: 15px;"
    *ngIf="loadDone">
    <div class="box">
        <div class="left-box">
            <img style="position: absolute; margin: 7px 0 0 7px; border-radius: 100%;" [src]="user.photoUrl">
            <round-progress style="width:110px;height: 110px;" [current]="progress" [max]="100" [color]="'#FFC107'"
                [background]="'#eaeaea'" [radius]="125" [stroke]="10" [responsive]="false" [duration]="800"
                [animation]="'easeInOutQuart'">
            </round-progress>

        </div>
        <div class="center-box">
            <div class="name">
                <h4 style="font-size: 1.2rem;">{{user?.name}}</h4>
                <h4 *ngIf="!user?.name">Chưa có tên</h4>
                <!-- <div>{{usr?.email}}</div> -->
                <div><strong>Level: </strong> {{level}}</div>
                <div><strong>EXP:</strong> {{contribute?.exp}}</div>

            </div>

        </div>
        <div></div>
        <div *ngIf="checkViewAvgas()" class="right-box" nbTooltip={{this.avgasDescription}}>
            <div class="name">
                <!-- <span>{{this.avgasDescription}}</span> -->
                <img src='./assets/images/Avgas.png' alt='Avgas - Runway credit unit' style="width: 40px;">
                <h5 style="margin: 0;">Avgas: {{contribute?.credit}}</h5>
            </div>
        </div>
    </div>
</nb-card>