<nb-card style="width: 40vw;">
  <nb-card-header>
    <h2>File upload</h2>
  </nb-card-header>
  <nb-card-body>
    <nb-list style="min-height: 40vh;width: 100%;height: 100%;">
      <nb-list-item *ngFor="let file of fileList; let i = index">
        <button style="border: none;" [ngStyle]="{backgroundColor:selectedId==i?'#426EF0':'#fff'}"
          (click)="selectedId=i">
          <p style="font-size: 1rem;">{{file.name}}</p>
          <p style="font-size: 0.7rem;">{{file.type}} - {{file.size/1024}}KB</p>
        </button>
      </nb-list-item>
      <nb-list-item *ngIf="fileList.length==0">
        No file
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <input *ngIf="isFinish" nbInput type='file' status='primary' value="Upload" (change)="upload($event)">
    <button nbButton style="float: right;" status='primary' (click)="select()">Select</button>
  </nb-card-footer>
</nb-card>