<div style="width:100%;margin: 0%;">
    <div class="container" *ngIf="loadDone">
        <nb-card class="card" *ngFor="let user of listUser">
            <div class="box">
                <div class="left-box">
                    <img style="border-radius: 100%; display: block;margin-top: 2%;margin-left: auto; margin-right: auto"
                        [src]="user.photoUrl">
                </div>
                <div class="right-box">
                    <div class="name" style="padding-top:10px;">
                        <a href="./profile?id={{user.uid}}"
                            style="font-size: 1.7rem; font-weight: bold; text-decoration: none; color:#000">{{user.name}}</a>
                        <h4 *ngIf="!user.name">Chưa có tên</h4>

                    </div>

                    <div class="list-role" *ngIf="loaded|async">
                        <img width="50px" *ngFor="let role of user.roles" [nbTooltip]="getRoleById(role)?.name??''"
                            [src]="getRoleById(role)?.image">
                    </div>
                </div>
            </div>
            <app-level [skillCommon]="commonSkill" [uid]="user.uid"></app-level>
        </nb-card>
    </div>
</div>