.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.list-role {
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  // display: flex;
  // flex-direction: column;
  // margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  // max-width: 100%;
}
.box {
  display: grid;
  grid-template-columns: 32% 68%;
}
.left-box {
  padding: 10px;
  position: relative;
  justify-items: center;
  align-items: center;
}
.right-box * {
  margin-top: 1%;
  margin-bottom: 1%;
}
.right-box {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right-box > h4 {
  margin-left: 4%;
  margin-right: 0;
  margin-top: 5%;
}
.right-box > div {
  margin-left: 4%;
  margin-right: 0;
  text-overflow: ellipsis;
}
.level {
  width: 95%;
  align-self: flex-end;
}
.name {
  align-self: start;
}
.profile{
  font-size:1.2rem; 
  font-weight: bold; 
  text-decoration: none; 
  color:#000
}
.profile:hover{
  cursor: pointer;
}

.mat-form-field {
  margin-right: 12px;
}