<nb-card size="large" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);border-radius: 15px;">
    <nb-card-header>
        <h5>Contributions</h5>
    </nb-card-header>
    <nb-card-body>
        <nb-layout-column *ngIf="contributionInfo==undefined">

            <div class="wave-spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </nb-layout-column>
        <nb-layout-column>
            <!-- <h6>Achievements</h6> -->
            <div *ngIf="contributionInfo?.achievements?.length == 0">
                <span>Bạn chưa có đóng góp nào</span>
            </div>

            <div class="body" *ngIf="contributionInfo?.achievements!=undefined">
                <div class="card-row" *ngFor="let contrib of contributionInfo?.achievements">
                    <div class="card-col">
                        <nb-card size="tiny" style="border-radius: 10px;">
                            <nb-card-body
                                style="display:grid;align-self: center; align-items: center; justify-items: center;">
                                <img [src]="this.contrib.image" alt="img" style="width: 50px; border-radius: 50%;" />
                                <div style="text-align: center;">
                                    <span style="font-size: auto; font-weight: 100; color: #5f6368; line-height: 1;">
                                        {{this.contrib.name}}
                                    </span>

                                </div>
                            </nb-card-body>
                            <nb-card-footer style="align-self: center; text-align: center;">
                                <button nbButton outline status="info" shape="semi-round"><strong>EXP&nbsp;
                                    </strong> {{this.contrib.exp}}</button>
                                <button nbButton nbButton outline status="info" shape="semi-round"
                                    style="margin-left: 5px;"><strong>Credit&nbsp;
                                    </strong>{{this.contrib.credit}}</button>
                                <br>
                                <span><i>Đạt được ngày&nbsp;</i>{{convertDate(this.contrib.metadata?.updated)}}</span>
                            </nb-card-footer>
                        </nb-card>
                    </div>
                </div>
            </div>
        </nb-layout-column>
    </nb-card-body>
</nb-card>