<nb-card size="large" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);border-radius: 15px; ">
    <nb-card-header>
        <h5>Contributions</h5>
    </nb-card-header>
    <nb-card-body>
        <nb-layout-column *ngIf="contributionInfo==undefined">

            <div class="wave-spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </nb-layout-column>
        <nb-layout-column>
            <!-- <h6>Achievements</h6> -->
            <div *ngIf="contributionInfo?.achievements == undefined" style="font-size: 1rem; width: 100%;">
                <span><i>Hãy đóng góp tích cực cho cộng đồng nhé!</i></span>
            </div>

            <div class="body" *ngIf="contributionInfo?.achievements!=undefined">
                <div class="card-row" *ngFor="let contrib of contributionInfo?.achievements">
                    <div class="card-col">
                        <nb-card size="tiny" style="border-radius: 10px;"
                            [nbTooltip]="contrib.description.length == 0 ? '...':contrib.description">
                            <nb-card-body
                                style="display:grid;align-self: center; align-items: center; justify-items: center;">
                                <img [src]="this.contrib.image" alt="img" style="width: 50px; border-radius: 50%;" />
                                <div style="text-align: center;">
                                    <span style="font-size: auto; font-weight: 100; color: #5f6368; line-height: 1;">
                                        {{this.contrib.name}}
                                    </span>

                                </div>
                                <div>
                                    <button nbButton outline status="info" shape="semi-round"
                                        size="tiny"><strong>EXP&nbsp;
                                        </strong> {{this.contrib.exp}}</button>
                                    <button *ngIf="checkViewAvgas()" nbButton nbButton outline status="info"
                                        shape="semi-round" size="tiny" style="margin-left: 5px;"><strong>Avgas&nbsp;
                                        </strong>{{this.contrib.credit}}</button>
                                </div>
                                <div style="text-align: center; width: 100%;">
                                    <span><i>Đạt được
                                            ngày&nbsp;</i>{{convertDate(this.contrib.metadata?.updated)}}</span>
                                </div>

                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </div>
        </nb-layout-column>
    </nb-card-body>
</nb-card>