<nb-card size="large">
    <nb-card-header>
        <h5>Contributions</h5>
    </nb-card-header>
    <nb-card-body>
        <nb-layout-column>
            <h6>Achievements</h6>
            <div class="body" *ngIf="contributionInfo?.achievements!=undefined">
                <div class="card-row" *ngFor="let contrib of contributionInfo?.achievements">
                    <div class="card-col">
                        <nb-card size="medium" style="border-radius: 10px;">
                            <nb-card-body
                                style="display:grid;align-self: center; align-items: center; justify-items: center;">
                                <img [src]="this.contrib.image" alt="img"
                                    style="width: 100px; height: 100px; border-radius: 50%;" />
                                <div style="text-align: center;">
                                    <span
                                        style="font-size: x-large; font-weight: 400; color: #5f6368; line-height: 1.5;">
                                        {{this.contrib.name}}
                                    </span>

                                </div>
                            </nb-card-body>
                            <nb-card-footer style="align-self: center;">
                                <button nbButton outline status="primary"><strong>EXP&nbsp;
                                    </strong> {{this.contrib.exp}}</button>
                            </nb-card-footer>
                        </nb-card>
                    </div>
                </div>
            </div>
        </nb-layout-column>
    </nb-card-body>
</nb-card>