@import 'themes';

@import '~@nebular/theme/styles/globals';

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import '~material-icons/iconfont/material-icons.css';
@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Maven Pro' sans-serif;
  overflow: hidden;
}
