<nb-card size="large">
  <nb-card-body>

    <div>
      <h5>Information</h5>

      <form class="form-registration" (ngSubmit)="onUpdate()">
        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
          <div>
            <nb-form-field>
              <label>Email*</label>
              <input type="email" nbInput disabled placeholder="{{userProfile?.email}}">
            </nb-form-field>
            <nb-form-field>
              <label>Họ tên*</label>
              <input type='text' nbInput [disabled]="isUpdate" [(ngModel)]="userProfile?.name">
            </nb-form-field>
            <nb-form-field>
              <label>Giới tính</label>
              <nb-select [(selected)]="userProfile?.gender" [disabled]="isUpdate">
                <nb-option value="Male">Nam</nb-option>
                <nb-option value="Female">Nữ</nb-option>
                <nb-option value="Not share">Không chia sẻ</nb-option>
              </nb-select>
            </nb-form-field>
            <nb-form-field>
              <label>Ngày sinh*</label>
              <input type='date' nbInput [disabled]="isUpdate" [(ngModel)]='userProfile?.dob'>
            </nb-form-field>
          </div>
          <div>
            <nb-form-field>
              <label>Số điện thoại*</label>
              <input type="tel" nbInput [disabled]="isUpdate" [(ngModel)]="userProfile?.phoneNumber">
            </nb-form-field>
            <nb-form-field>
              <label>Địa chỉ nhận quà</label>
              <input type="text" nbInput [disabled]="isUpdate" [(ngModel)]="userProfile?.address">
            </nb-form-field>
            <nb-form-field>
              <label>Facebook</label>
              <input type='url' nbInput [disabled]="isUpdate" [(ngModel)]="userProfile?.facebook">
            </nb-form-field>
            <nb-form-field>
              <label>Linkedin</label>
              <input type='url' nbInput [disabled]="isUpdate" [(ngModel)]="userProfile?.linkIn">
            </nb-form-field>
          </div>

        </div>

        <p style="font-family: 'Maven Pro'; font-size: 1.2rem; font-weight: bold;">Vai trò của bạn</p>
        <button type="button" *ngFor="let role of userProfile?.roles"
          style="background: none;border: none;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 10px; margin:10px; text-align: start;">
          <nb-user [name]='role.name' [title]='role.description' [picture]='role.image'></nb-user>
        </button>
        <hr style="border-top: 1px solid">
        <nb-form-field>
          <input nbInput type="submit" status='primary' [value]="updateBtn" fullWidth (click)="onUpdate()"
            [ngStyle]="{backgroundColor:updateBtn=='Confirm'?'#426EF0':'#fff'}">
        </nb-form-field>
      </form>
    </div>
  </nb-card-body>
</nb-card>

<!-- [ngStyle]="{backgroundColor:role.selected?'#426EF0':'#fff'}" -->