<nb-card size="large" *ngIf="userProfile !=undefined" style="margin-bottom: 0;border-radius: 15px;">
  <nb-card-header style="display: flex; flex-direction: row;">
    <h5>Information</h5>
    <div style="flex: 1 auto;"></div>
    <div style="float: right;">


      <button *ngIf="isUpdate" nbButton type="button" status='primary' value="Edit" (click)="onEdit()"
        shape='semi-round' size="small" [disabled]="updateBtn=='Update'?false:true">
        <nb-icon icon="edit-outline"> </nb-icon>
      </button>



      <input *ngIf="!isUpdate" nbInput type="submit" status='success' value="Confirm" (click)="onUpdate()" size="small"
        style="margin-left: 5px;" shape='semi-round'
        [ngStyle]="{backgroundColor:updateBtn=='Confirm'?'#04AA6D':'#fff'}">

    </div>
  </nb-card-header>
  <nb-card-body>

    <form class="form-registration" (ngSubmit)="onUpdate()">

      <nb-form-field>
        <label>Email</label>
        <input type="email" nbInput disabled placeholder="{{userProfile?.email}}" fullWidth>
      </nb-form-field>
      <nb-form-field>
        <label>Họ tên</label>
        <input type='text' nbInput [disabled]="isUpdate" [(ngModel)]="userProfile!.name" fullWidth style="color: #000;"
          [ngModelOptions]="{standalone: true}">
      </nb-form-field>
      <nb-form-field>
        <label>Giới tính</label>
        <nb-select [(selected)]="userProfile!.gender" [disabled]="isUpdate" fullWidth [ngStyle]="{color: '#000'}">
          <nb-option value="Male">Nam</nb-option>
          <nb-option value="Female">Nữ</nb-option>
          <nb-option value="Not share">Không chia sẻ</nb-option>
        </nb-select>
      </nb-form-field>
      <nb-form-field>
        <label>Ngày sinh</label>
        <input type='date' nbInput [disabled]="isUpdate" [(ngModel)]='userProfile!.dob' fullWidth style="color: #000;"
          [ngModelOptions]="{standalone: true}">
      </nb-form-field>
      <nb-form-field>
        <label>Số điện thoại</label>
        <input type="tel" nbInput [disabled]="isUpdate" [(ngModel)]="userProfile!.phoneNumber" fullWidth
          style="color: #000;" [ngModelOptions]="{standalone: true}">
      </nb-form-field>
      <nb-form-field>
        <label>Địa chỉ nhận quà</label>
        <input type="text" nbInput [disabled]="isUpdate" [(ngModel)]="userProfile!.address" fullWidth
          style="color: #000;" [ngModelOptions]="{standalone: true}">
      </nb-form-field>
      <nb-form-field>
        <label>Facebook</label>
        <input type='url' nbInput [disabled]="isUpdate" [(ngModel)]="userProfile!.facebook" fullWidth
          style="color: #000;" [ngModelOptions]="{standalone: true}">
      </nb-form-field>
      <nb-form-field>
        <label>Linkedin</label>
        <input type='url' nbInput [disabled]="isUpdate" [(ngModel)]="userProfile!.linkIn" fullWidth style="color: #000;"
          [ngModelOptions]="{standalone: true}">
      </nb-form-field>




    </form>
  </nb-card-body>
</nb-card>