<nb-card style="height: 100%;">
  <nb-card-body>
    <div>
      <h5>Roles</h5>
      <div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(200px, 7fr));">
        <div *ngFor="let r of roles" style="width: 100%;">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <img width="50px" src={{r.image}} />
            <span>{{r.name}}</span>
          </div>
        </div>
      </div>

    </div><button nbButton (click)="getProfile()">Get Profile</button>
    <div>
      <h5>Information</h5>

      <form class="form-registration" (ngSubmit)="onUpdate()">
        <nb-form-field>
          <label>Email*</label>
          <input type="email" nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <nb-form-field>
          <label>Họ tên*</label>
          <input type='text' nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <nb-form-field>
          <label>Giới tính</label>
          <nb-select [(selected)]="selectedGender" fullWidth [disabled]="isUpdate">
            <nb-option value="Male">Nam</nb-option>
            <nb-option value="Female">Nữ</nb-option>
            <nb-option value="Not share">Không chia sẻ</nb-option>
          </nb-select>
        </nb-form-field>
        <nb-form-field>
          <label>Ngày sinh*</label>
          <input type='date' nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <nb-form-field>
          <label>Số điện thoại*</label>
          <input type="tel" nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <nb-form-field>
          <label>Địa chỉ nhận quà</label>
          <input type="text" nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <nb-form-field>
          <label>Facebook</label>
          <input type='url' nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <nb-form-field>
          <label>Linkedin</label>
          <input type='url' nbInput fullWidth disabled="isUpdate">
        </nb-form-field>
        <hr style="border-top: 1px solid">
        <p style="font-family: 'Maven Pro'; font-size: 1.2rem; font-weight: bold;">Vai trò của bạn</p>
        <p>Chọn ít nhất 1</p>
        <button type="button" *ngFor="let role of roles"
          style="background: none;border: none;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 10px; margin:10px; text-align: start;">
          <nb-user [name]='role.name' [title]='role.description' [picture]='role.image'></nb-user>
        </button>
        <hr style="border-top: 1px solid">
        <nb-form-field>
          <input nbInput type="submit" status='primary' value='Update' fullWidth (click)="onUpdate()">
        </nb-form-field>
      </form>
    </div>
  </nb-card-body>
</nb-card>

<!-- [ngStyle]="{backgroundColor:role.selected?'#426EF0':'#fff'}" -->